<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kiti.buy.pmk.mapper.PostMapper">
	<insert id="writePost" parameterType="kiti.buy.pmk.vo.PostVO" useGeneratedKeys="true" keyProperty="postSeq">
		INSERT INTO post(post_title, post_content, post_created_date, post_hit, post_category, post_author)
		values (#{postTitle}, #{postContent}, #{postCreatedDate}, #{postHit}, #{postCategory}, #{postAuthor})
	</insert>
</mapper>