<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kiti.buy.pmk.mapper.PostMapper">
	<insert id="writePost" parameterType="kiti.buy.pmk.vo.PostVO" useGeneratedKeys="true" keyProperty="postSeq">
		INSERT INTO post(post_title, post_content, post_created_date, post_hit, post_category, post_author, post_img_path)
		values (#{postTitle}, #{postContent}, #{postCreatedDate}, #{postHit}, #{postCategory}, #{postAuthor}, #{postImgPath})
	</insert>
	
	<select id="findAll" resultType="kiti.buy.pmk.vo.PostVO">
		SELECT * from post
	</select>

	<select id="listingPage" resultMap="listPost">
		select p.*, a.account_id, a.account_profile_path
		from post as p inner join account a on  p.post_author = a.account_seq
		order by p.post_seq desc
		limit 10 offset #{pageNum}
	</select>

	<select id="countAll" resultType="int">
		select count(*) from post
	</select>

	<select id="categoryListingPage" resultMap="listPost" parameterType="hashmap">
		select p.*, a.account_id, a.account_profile_path
		from post as p
		inner join account a on  p.post_author = a.account_seq
		inner join categories c on p.post_category = c.categories_seq
		where c.categories_seq = #{categorySeq}
		order by p.post_seq desc
		limit 10 offset #{pageNum}
	</select>

	<select id="countAllByCategory" resultType="int">
		select count(*) from post inner join categories c on c.categories_seq = post.post_category
		where categories_seq = #{categorySeq}
	</select>


	<resultMap id="listPost" type="kiti.buy.pmk.vo.PostPageVO">
		<id property="postSeq" column="post_seq"/>
		<result property="postTitle" column="post_title"/>
		<result property="postContent" column="post_content"/>
		<result property="postCreatedDate" column="post_created_date"/>
		<result property="postImgPath" column="post_img_path"/>
		<result property="accountId" column="account_id"/>
		<result property="accountImagePath" column="account_profile_path"/>
	</resultMap>
	
	<delete id="postDelete" parameterType="int">
	DELETE FROM post
	WHERE post_seq = #{seq}
	</delete>
	
	<select id="adminPostList" resultMap="adminPostResult">
		select p.post_seq, p.post_title, a.account_id from post p inner join account a on p.post_author = a.account_seq
		order by p.post_seq desc
	</select>
	
	<resultMap type="kiti.buy.pmk.dto.admin.AdminPostListDTO" id="adminPostResult">
		<id property="postSeq" column="post_seq"/>
		<result property="postTitle" column="post_title"/>
		<result property="postAuthor" column="account_id"/> 
	</resultMap>

</mapper>